body {
    height: 500px;
    background-image: url("backgraund_1.jpg"); /* Background image */
    background-repeat:no-repeat;
    background-position-x:center;
    background-position-y:center;
    background-size:cover;
  }
#HuvudMenu{
    text-align: center;
    font-style: oblique;
    background-color: rgb(202, 199, 199) ;
    background-attachment: fixed;
    background-position: center;
    font-size:large;
}
#Seleccion{
    font-style: normal;
}